.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

mat-card {
    width: 100%;
    max-width: 400px;
    padding: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
}

button {
    height: 48px;
    font-size: 16px;
}