<div class="product-wrapper">
    @for (product of resources(); track $index) {
    <mat-card class="product-card" appearance="outlined" @slideInFromLeft>
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{product.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="product.src" [alt]="product.alt">
        <mat-card-content>
            <p>
                {{product.description}} 
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="detailProduct(product)" mat-button="filled">Dettagli</button>
        </mat-card-actions>
    </mat-card>
    }
</div>