.product-card {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    min-height: 50vh;
    flex: 1 1 250px;
    cursor: pointer;
    box-sizing: border-box;
    margin: auto;

    img {
        height: 35vh;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        padding: 5px;
    }

    &:hover img {
        transform: scale(1.05); // Zoom leggero
    }

    @media (max-width: 420px) {
        min-width: 100%;
    }
}

.header-image {
    background-image: url('/mini_logo.png');
    background-size: cover;
}

.product-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

@media (max-height: 500px) and (orientation: landscape) {
    .product-card img {
      height: 50vw;         // Usa larghezza dello schermo come base
      object-fit: cover;    // Riempie bene senza distorsioni
      max-height: 300px;    // Limite massimo per evitare immagini troppo grandi
    }
  }