.product-card {
    color: white;
    width: 100%;
    max-width: 400px;
    min-height: 50vh;
    flex: 1 1 250px;
    box-sizing: border-box;
    margin: auto;
    img {
        min-height: 30vh;
    }
}

.header-image {
    background-image: url('/mini_logo.png');
    background-size: cover;
  }

.product-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}
