.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.detail-container {
    display: flex;
    flex-direction: row;
    gap: 5px;

    mat-form-field {
        flex: 1;
    }
}

.file-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
}