.container {
    flex-grow: 1;
    display: flex;
    height: calc(100vh - 128px);
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px; 
    overflow-y: auto;
}

