<header class="header">
    <div class="container">
      <div class="logo-container">
        <img src="./logo.png" alt="Logo" class="logo">
      </div>
      <nav class="nav-menu">
        <ul class="desktop-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="hamburger-menu" (click)="toggleMobileMenu()">
          <ng-container *ngIf="!isMobileMenuOpen">&#9776;</ng-container> <ng-container *ngIf="isMobileMenuOpen">&#10006;</ng-container> </div>
      </nav>
    </div>
    <div class="mobile-menu" [class.open]="isMobileMenuOpen">
      <ul>
        <li><a href="#" (click)="toggleMobileMenu()">Home</a></li>
        <li><a href="#" (click)="toggleMobileMenu()">About</a></li>
        <li><a href="#" (click)="toggleMobileMenu()">Services</a></li>
        <li><a href="#" (click)="toggleMobileMenu()">Contact</a></li>
      </ul>
    </div>
  </header>